body{
    background-color: #1e202b;;
}
header{
    background-image: url('../images/banner.png');
    background-position: top;
    background-repeat: no-repeat;
    /* background-size: cover; */
}
:root{
    --main-color:#009ad8;
}
.navbar-dark, .navbar[data-bs-theme=dark] {
    --bs-navbar-color: rgba(255, 255, 255, 1);
    --bs-navbar-hover-color: rgba(0, 154, 216, 1);
    --bs-navbar-active-color: #009ad8;
    --bs-navbar-brand-hover-color: rgba(0, 154, 216, 1);
}


.nav-link{
    transition: all 400ms;
    border-radius: 50px;
    border: 3px solid transparent;
}
.nav-link:focus, .nav-link:hover,.nav-link.active {
    border-color: var(--main-color);
 }
 .form-control::-webkit-input-placeholder {
    color: rgba(0, 154, 216, 0.4) !important;
 }
 .card_one{
    background-color: #2a3242;
 }
 .card_two{
    background-color: #262936;
 }
 .butt{
    background-color: var(--main-color);
    border-color: var(--main-color);
    right: 10px;
    top: 36%;
 }
 footer{
    background-color: #262936;;
 }